<a href="https://colab.research.google.com/github/nicoleariasl/AnDatos/blob/main/LabPandas_NicoleArias.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

data = {'Country': ['Costa Rica','India','Brazil'],'Capital':['San Jose','New Delhi','Brasilia'],'Population':[4500000,1303171035,207847528]}
df = pd.DataFrame(data,columns=['Country','Capital','Population'])
print(df)

      Country    Capital  Population
0  Costa Rica   San Jose     4500000
1       India  New Delhi  1303171035
2      Brazil   Brasilia   207847528

In [ ]:
print("Promedio de los elementos del vector")
Suma=0
Media=0
Temp=[]
print("Ingrese cantidad de temperaturas")
N=int(input())

for i in range(N):
  temperatura=float(input("Ingrese la temperatura "))
  Temp.append(temperatura)
  Suma=Suma+Temp[i]
Media = Suma/N
print(Media)

Promedio de los elementos del vector
Ingrese cantidad de temperaturas
2
Ingrese la temperatura 25
Ingrese la temperatura 15
20.0

In [ ]:
import pandas as pd
mascota = pd.DataFrame(
    data={
        'name':['Minino','Milo','Snoopy','Blanco','LittlePony'],
        'type': ['gato','perro','perro','perro','caballo']
    },
    index=[71,42,11,98,42]
)

visitas = pd.DataFrame(
    data = {
        'pet_id': [42,31,71,42,98,42],
        'fecha': ['2019-03-15','2019-03-15','2019-04-05','2019-04-06','2019-04-12','2019-04-25'],
        'costo': [2000,5000,50000,45000,25000,80000]
    }
)

mascota.index.rename('pet_id',inplace=True)
visitas.index.rename('visit_id',inplace=True)
print(mascota.query('pet_id==71'))

print(visitas['costo'].sum())
print(visitas['costo'].min())
print(visitas['costo'].max())
print(visitas)
print(visitas.sort_values(by='costo',ascending=False))
tienda=pd.merge(mascota,visitas,how='cross')

print(tienda)

          name  type
pet_id
71      Minino  gato
207000
2000
80000
          pet_id       fecha  costo
visit_id
0             42  2019-03-15   2000
1             31  2019-03-15   5000
2             71  2019-04-05  50000
3             42  2019-04-06  45000
4             98  2019-04-12  25000
5             42  2019-04-25  80000
          pet_id       fecha  costo
visit_id
5             42  2019-04-25  80000
2             71  2019-04-05  50000
3             42  2019-04-06  45000
4             98  2019-04-12  25000
1             31  2019-03-15   5000
0             42  2019-03-15   2000
          name     type  pet_id       fecha  costo
0       Minino     gato      42  2019-03-15   2000
1       Minino     gato      31  2019-03-15   5000
2       Minino     gato      71  2019-04-05  50000
3       Minino     gato      42  2019-04-06  45000
4       Minino     gato      98  2019-04-12  25000
5       Minino     gato      42  2019-04-25  80000
6         Milo    perro      42  2019-03-15   2000
7         Milo    perro      31  2019-03-15   5000
8         Milo    perro      71  2019-04-05  50000
9         Milo    perro      42  2019-04-06  45000
10        Milo    perro      98  2019-04-12  25000
11        Milo    perro      42  2019-04-25  80000
12      Snoopy    perro      42  2019-03-15   2000
13      Snoopy    perro      31  2019-03-15   5000
14      Snoopy    perro      71  2019-04-05  50000
15      Snoopy    perro      42  2019-04-06  45000
16      Snoopy    perro      98  2019-04-12  25000
17      Snoopy    perro      42  2019-04-25  80000
18      Blanco    perro      42  2019-03-15   2000
19      Blanco    perro      31  2019-03-15   5000
20      Blanco    perro      71  2019-04-05  50000
21      Blanco    perro      42  2019-04-06  45000
22      Blanco    perro      98  2019-04-12  25000
23      Blanco    perro      42  2019-04-25  80000
24  LittlePony  caballo      42  2019-03-15   2000
25  LittlePony  caballo      31  2019-03-15   5000
26  LittlePony  caballo      71  2019-04-05  50000
27  LittlePony  caballo      42  2019-04-06  45000
28  LittlePony  caballo      98  2019-04-12  25000
29  LittlePony  caballo      42  2019-04-25  80000

In [ ]:
import pandas as pd

#Ejercicio 1
students = [('Ana',23,'San Jose','A'),('Esteban',22,'Heredia','B'),('Juan',22,'Cartago','A'),('Karla',22,'Limon','A'),('Ernesto',21,'Heredia','B')]
df = pd.DataFrame(students,columns=['Nombre','Edad','Ciudad','Seccion'])

#Ejercicio 2
print(df)

#Ejercicio 3

def ret(nombre):
 print(df.loc[:,nombre])


print("\nIngrese el nombre de la columna")
nom=input()
print("\n")
ret(nom)

#Ejericio 4
def getIndexes(dfObj,value):
  listOfPos = []
  result = dfObj.isin([value])
  seriesObj = result.any()
  columnNames = list(seriesObj[seriesObj == True].index)

  for col in columnNames:
    rows = list(result[col][result[col] == True].index)

  for row in rows:
    listOfPos.append((row,col))
  return listOfPos


#Ejercicio 5
getIndexes(df,'A')

#Ejercicio 6 

listOfPositions = getIndexes(df,'A')
print('Index positions of 22 in DataFrame : ')
for i in range(len(listOfPositions)):
  print(listOfPositions[i])

#Ejercicio 7
listOfPositions = getIndexes(df,21)
print('Index positions of 22 in DataFrame : ')
for i in range(len(listOfPositions)):
  print(listOfPositions[i])


#Ejercicio 8
#Nicole Arias Lizano.
#Tiffanny Fernandez.
#Alexa RÃ­os.

    Nombre  Edad    Ciudad Seccion
0      Ana    23  San Jose       A
1  Esteban    22   Heredia       B
2     Juan    22   Cartago       A
3    Karla    22     Limon       A
4  Ernesto    21   Heredia       B

Ingrese el nombre de la columna
Edad


0    23
1    22
2    22
3    22
4    21
Name: Edad, dtype: int64
Index positions of 22 in DataFrame :
(0, 'Seccion')
(2, 'Seccion')
(3, 'Seccion')
Index positions of 22 in DataFrame :
(4, 'Edad')